<h1 class="mainHeader">
  Featured Article
  <div class="underline"></div>
</h1>
<!--only select most recent featured article just in case the user mistakenly has 2 or more-->
{% for post in collections.featured | reverse %}
<!--if user accidently has more than 1 featured article, this loop will only end at 1-->
{% if loop.index0 < 1%}
<div class="row mt-3">
  <div class="col-12 col-md-5">
    <div
      class="featuredArticleImage mb-5"
      style="background-image: url({{post.data.featuredImage}})"
    ></div>
  </div>
  <div class="col-12 col-md-4">
    <h2 class="mb-5">{{post.data.title}}</h2>
    <h3 class="mb-5"><em>{{post.data.author}}</em></h3>
    <p class="mb-5">{{post.data.description}}</p>
    <div class="row">
      <div class="col-12 col-md-6">
        <a href="{{ post.url | url }}"
          ><button class="w-100 h-100 p-2 button">Read</button></a
        >
      </div>
    </div>
  </div>
</div>
{% endif %} {% endfor%}