@import url("./reset.css");

/*GLOBAL*/
body {
  font-family: "Frank Ruhl Libre", serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

h1 {
  font-size: 3em;
  font-weight: 500;
  position: relative;
  display: inline-block;
}
.underline {
  width: 100%;
  height: 1px;
  background-color: black;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
  color: #4e4e4e;
}
em {
  font-style: italic;
}

.button{
  -moz-transition:color .3s ease-in;
  -o-transition:color .3s ease-in;
  -webkit-transition:color .3s ease-in;
  -moz-transition:background-color .3s ease-in;
  -o-transition:background-color .3s ease-in;
  -webkit-transition:background-color .3s ease-in;
  border:2px solid black;
}
.button:hover{
background-color:black;
color:white;
}

/*CONTAINER*/
#mainContainer{
  position: relative;
  min-height:100vh;
}
#content-wrap{
  padding-bottom:10rem;
}

/*NAV*/
nav {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.logo {
  color: #ba4358;
  font-size: 1.5em;
  vertical-align: middle;
  display: inline-block;
}

#navLinks{
  display:inline-block;
  float: right;
}
.navitem{
  display:inline-block;
}

.navLiLink {
  float: left;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  color: #4f2790;
}

.gradientBorder {
  padding-bottom: 5px;
  background: linear-gradient(to left, #4f2790, #ba4358),
    linear-gradient(to left, #4f2790, #ba4358);
  background-size: 100% 2px;
  background-position: bottom 0 left 0, bottom 5px left 0;
  background-repeat: no-repeat;
}

/*PAGE BODY*/
.article {
  margin-top: 10%;
}

.featuredArticleImage {
  width: 100%;
  height: 400px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

  /*Article previews*/
  .row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .buttonReadLink{
    position: absolute;
    bottom:0;
    width:50%;
  }
  .cardButton{
    width:50%;
  }

  .cardInner{
    position:relative;
  }
  .postDescription{
    margin-bottom: 50px;
  }



/*ARTICLE POST*/
.mainArticleImage {
  width: 100%;
  height: 400px;
}
.articleParagraph{
  line-height: 3em;
}
.aboutParagraph{
  line-height: 1.3em;
}

/*FOOTER*/
#footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:4rem;
  border-top:1px black solid;
}

/*MOBILE*/
@media only screen and (max-width: 600px) {

  /*NAV*/
  nav{
    margin-bottom:160px;
  }

  #navLinks{
    display:block;
    width:100%;
    float:left;
  }
  .navitem{
    display:block;
    
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
  }
  
 .navLiLink {
    float: none;
    text-decoration: none;
    margin:0;
    width:100%;
  }
  
  .logo {
    color: #ba4358;
    font-size: 1.5em;
    vertical-align: middle;
    display: block;
  }

  /*ARTICLE PREVIEWS*/
  .buttonReadLink{
    position: absolute;
    bottom:0;
    width:100%;
  }
  .cardButton{
    width:100%;
  }
}