---
layout: layouts/base.html
title: 11ty News Home
---

<section class="article">
  {% for post in collections.featured %} {% include "featuredArticle.html" %} {%
  endfor %}
</section>

<section class="article">
  <h1 class="mainHeader">
    Recent Articles
    <div class="underline"></div>
  </h1>

  <div class="row mt-3">
    <!--reverse collection items from most recent-->
    {% for post in collections.posts | reverse %}
    <!--limit to 6 recent articles. Rest are displayed in the archive-->
    {% if loop.index0 < 6%} {% include "postslist.html" %} {% endif %} {%
    endfor%}
  </div>
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>